html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar-default {
  z-index: 1;
  background: #395870;
}

.navbar-default:hover {
 	z-index: 1;
  background: #395870;
  color: darkorange !important;
}

.navbar-default .active {
  background: #2b4355;
}

.navbar-default ul .active {
  background: #2b4355;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #2b4355;
  color: darkorange !important;
}

.dropdown-menu>li>a, .dropdown-menu, .navbar-default .navbar-nav>li>a {
  background: #395870;
  color: darkorange;
}

.dropdown-menu>li>a, .dropdown-menu, .navbar-default .navbar-nav>li>a:hover {
  background: #395870;
  color: darkorange;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav>.active>a {
    color: darkorange;
    text-decoration: none;
    background-color: #2b4355;
    outline: 0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background: #2b4355;
}

.navbar-default ul li a.active {
  background: #2b4355;
}

.panel-primary .panel-heading {
  background: #395870;
  border-color: #395870;
}


.panel-primary {
  border-color: #395870;
}
.btn-primary {
  background: #395870;
}



#navbar-brand-front {
	color: darkorange;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  text-decoration: none;
}

#navbar-brand {
	color: darkorange;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-decoration: none;
  margin-right:10px;
}

#logInClick {
	color:  darkorange;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-decoration: none;
  margin-right:10px;
}

.content_container {
  background-color: #fff;
}

#body {
  padding: 10px;
  padding-bottom: 90px;
}

#footer {
  margin: 0;
  width: 100%;
}

h3 {
  /*font-family: "Time New Roman", Times, serif;*/
  margin-top: '0px';
}
.oauth {
  max-width: 18em;
}

.btn-social {
  text-align: center;
  width: 100%;
}

.back-line {
  line-height: 0;
  border-bottom: 1px dotted #999;
  text-align: center;
}

.back-line > span {
  background: #fff;
  color: #999;
  padding: 0.5em;
  border: 1px dotted #999;
  border-radius: 50%;
}

.buffer {
  margin: 1.5em 1em;
}

.buffer.forms {
  margin-bottom: 3em;
}

.buffer.local {
  margin: 2.5em 0.8em;
}

a:hover {
  cursor:pointer;
}

body {
  overflow-x: hidden;
}
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.menu {
  display: block;
}
.menu > div {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: -webkit-transform ease 250ms;
  -moz-transition: -webkit-transform ease 250ms;
  -ms-transition: -webkit-transform ease 250ms;
  -o-transition: -webkit-transform ease 250ms;
  transition: -webkit-transform ease 250ms;
  -webkit-transition: transform ease 250ms;
  -moz-transition: transform ease 250ms;
  -ms-transition: transform ease 250ms;
  -o-transition: transform ease 250ms;
  transition: transform ease 250ms;
}
.menu > div.top {
  background-color: rgba(230,230,250,1);
  right: -250px;
}
.menu > div.visible.top {
  transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
}

.signUp > div {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: -webkit-transform ease 250ms;
  -moz-transition: -webkit-transform ease 250ms;
  -ms-transition: -webkit-transform ease 250ms;
  -o-transition: -webkit-transform ease 250ms;
  transition: -webkit-transform ease 250ms;
  -webkit-transition: transform ease 250ms;
  -moz-transition: transform ease 250ms;
  -ms-transition: transform ease 250ms;
  -o-transition: transform ease 250ms;
  transition: transform ease 250ms;
}
.signUp  > div.top {
  background-color: rgba(230,230,250,1);
  right: -250px;
}
.signUp  > div.visible.top {
  transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
}

#announcement {
	cursor:pointer;
	text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 70px;
}

#announcementDiv {
	width:100%;
	height:100%;
	background-color: black;
	opacity:0.75;
	padding-top:200px;
	text-align:center;
	top:0px;
	left:0px;
	cursor:pointer;
	clear:both;
}

#mainMessage {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.buffer .btn-fitbit:hover {
  background: #17959b !important;
  border-color: rgba(0,0,0,0.2) !important;
  color: #fff;
}

.buffer .btn-fitbit {
  background: #1cb2ba !important;
  border-color: rgba(0,0,0,0.2) !important;
  color: #fff;
}

#mainImgDiv {
		height:100%;
		width:100%;
		background-image:url("/images/kym-cover-image.jpg");
		background-size:cover;
		background-repeat:no-repeat;
}


#inputs_section {
  background-color: #f4f5f7;
  border-style: outset;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	color: #4a4a4d;
	font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th {
	border-right: 1px solid #fff;
}
th,
td {
	padding: 5px 5px;
	vertical-align: middle;
}
thead {
	background: #395870;
	color: #fff;
	font-size: 14px;
}
td {
	width: 10%;
	border-bottom: 1px solid #cecfd5;
	border-right: 1px solid #cecfd5;
}
td:first-child {
	border-left: 1px solid #cecfd5;
}
.item {
	text-align: center;
}
th.size {
	width: 10%;
  text-align: center;
}
input.size {
	margin-left: 2px;
	color: #000;
	width: 40%;
	text-align: center;
}
tfoot {
  text-align: center;
}
tfoot tr:last-child {
  background: #f0f0f2;
  color: #395870;
  font-weight: bold;
}
tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

::-webkit-scrollbar {
  width:12px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 1px 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 8px #2b4355;
}
